body {
    font-family: 'Lato', sans-serif; /* sans-serif - семейство без засечек если не подгрузится Lato */
    font-weight: 400; /* Дефолт жирнота*/
    font-size: 20px; /* В проекте основной шрифт 20px, чтоб каждый раз не задавать */
    line-height: 1.5;
    color: #424242; /* Цвет основного текста на странице */
}

/* Utility - утилитарные классы (что-то полезное) */

.none {
    display: none !important; /* important чтобы его нельзя было перебить */
}

.visually-hidden {
    /* Делаем элемент визуально скрытым на странице (он есть, его считывают устройства) */
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid (сетка, но не css grid) */

.container {
    /* Померили, надо ширину 1370px на весь контейнер +  отступы. Для более широкого контейнера (если будет) потом создадим еще класс типа container-wide. Еще есть контейнер-флюид в бутстрапе или еще где, который делает ширину на 100% */
    width: 1400px; /* Пока для десктопа делаем */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; /* Выравниваем контейнер по центру */
    margin-right: auto;
}

.container-wide {
    width: 1536px; /* 1506px под контент и по 15px поля */
}