.header {
    /* Отступы по самому большому элементу (у нас по кнопке) */
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d6d6d6;
}

.header-row {
    display: flex; /* Выстраиваем элементы в линию (дефолт по левой стороне) */
    align-items: center; /* Выравнивание по поперечной оси по центру */
    /* justify-content: space-between; Раскидать элементы про краям (первый в начале, последний в конце), остальное посередине (так делать не будем, т.к. отступы разные от середины до начала и конца) */
}

.header-logo {
    
}

.header-nav {
    margin-left: 172px;
    font-weight: 500;
    color: #292929;
}

.header-nav ul {
    display: flex; /* Располагаем текст в шапке друг ЗА другом, а не НАД */
}

/* Можно ТАК:
.header-nav li {
    margin-right: 70px; Отступ справа от li-шек для всех
}

.header-nav li:last-child {
    margin-right: 0px;  Для последней li-шки отступ справа 0px 
} */

/* Можно ТАК: 
.header-nav li:not(:last-child) {
    margin-right: 70px; Отступ после li-шек КРОМЕ ПОСЛЕДНЕЙ
} */

/* А можно вообще вот ТАК: */
.header-nav li + li {
    margin-left: 70px; /* Отступ ПЕРЕД li-шками КРОМЕ ПЕРВОЙ */
}

.header-nav a {
    transition: color 0.2s ease; /* Плавный переход для color за 0,2 сек, временая функция easy */
}

.header-nav a:hover {
    color: #01996d; /* При наведении в шапке на ссылку она делается этим цветом */
}

.header-login {
    display: flex; /* В ряд "Sign in" и " Start Trial" */
    align-items: center;
    margin-left: auto;
}

.header-login > * + * {
    margin-left: 35px; /* Обращение к элементам внутри первого уровня (сразу внутри) header-login'а (выбор любого элемента (*), но на первом уровне) И выбираем любой элемент и соседа справа от него и даем отступ слева (хуй пойми что написал, но это отделяет "Sign in" от кнопки "Login". Первый не выберется потому что у него нет соседа слева. Теперь можно делать сколько хочешь пунктов здесь, все отделятся */
}

.header-login-link {
    color: #000;
    transition: color 0.2s ease;
}

.header-login-link:hover {
    color: #01996d;
}

