.home {
    position: relative; /* Эта секция будет родителем (это для картинки на заднем фоне) */
    padding: 175px 0; /* Сверху, снизу 175, слева, справа 0 */
    min-height: 895px;
}

.home-content {
max-width: 440px; /* Минимальная ширина для смартфона - 320px, поэтому контент в home должен сам сжаться */
}

.home-heading {
    color: #01996d;
    font-family: 'Georgia', serif; /* Georgia основной, но мало ли не загрузится - будет сериф (полный)))0)0 */
    font-weight: 700; /* Bold */
    font-size: 65px;
    margin-bottom: 30px;
}

/*.home-heading + * {
    margin-bottom: 30px;  Всегда будет отступ между home-heading'ом и любым элементом снизу (конкретно тут - лишнее). Чота не робит.
} */

.home-text {
    color: #484848;
    line-height: 144.5%; /* Межстрочный интервал */ 
    max-width: 430px; /* Подогнали для выравнивания текста по строчкам как  в проекте */
}

.home-text + * {
    margin-top: 53px; /* Всегда будет отступ между home-heading'ом и любым элементом снизу (конкретно тут - лишнее) */
}

.home-btn {
    display: flex;
}

.home-bg-img {
    /* Растягиваем div home-bg-img по размерам home */
    z-index: -1; /* Сдвигаем эту пачку назад на 1px чтобы текст был спереди */
    position: absolute; /* Ну поди конкретно позиционирует картинку */
    left: 0; /* Выравнивание картинки с самого начала */
    top: 0;
    width: 100%; /* Растягивание картинки на 100% по ширине и высоте по блоку, в котором лежит */
    height: 100%;
    background-color: rgb(250, 241, 229); /* Фон на случай если (или пока) картинка не загрузилась */
}

.home-bg-img img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Корректно масштабируется и полностью заполняет размер тега img */
}